<div class="numpad numpad-{{numpad}}">
  <div class="popover-header numpad-header">
    <strong class="title">{{label}}</strong>

    {{#if input}}
      <div class="input-group {{#if input.toggle}}input-toggle{{/if}}">
        {{#if input.left}}
          {{#if input.left.addOn}}<span class="input-group-addon">{{{input.left.addOn}}}</span>{{/if}}
          {{#if input.left.btn}}<span class="input-group-btn"><a href="#" data-btn="left" class="btn btn-secondary">{{{input.left.btn}}}</a></span>{{/if}}
        {{/if}}
        <input type="text" name="value" class="form-control autogrow" readonly="readonly">
        {{#if input.right}}
          {{#if input.right.btn}}<span class="input-group-btn"><a href="#" data-btn="right" class="btn btn-secondary">{{{input.right.btn}}}</a></span>{{/if}}
          {{#if input.right.addOn}}<span class="input-group-addon">{{{input.right.addOn}}}</span>{{/if}}
        {{/if}}
      </div>
    {{/if}}

  </div>

  <div class="popover-body numpad-body">
    <div class="keys common three-cols">
      <div class="row">
        <button data-key="1" class="btn">1</button>
        <button data-key="2" class="btn">2</button>
        <button data-key="3" class="btn">3</button>
      </div>
      <div class="row">
        <button data-key="4" class="btn">4</button>
        <button data-key="5" class="btn">5</button>
        <button data-key="6" class="btn">6</button>
      </div>
      <div class="row">
        <button data-key="7" class="btn">7</button>
        <button data-key="8" class="btn">8</button>
        <button data-key="9" class="btn">9</button>
      </div>
      <div class="row">
        <button data-key="0" class="btn">0</button>
        <button data-key="00" class="btn">00</button>
        <button data-key="." class="btn decimal">{{{decimal}}}</button>
      </div>
    </div>
    <div class="keys common extra-keys">
      <button data-key="del" class="btn"><i class="icon-delete"><span>del</span></i></button>
      <button data-key="+/-" class="btn">+/-</button>
      <button data-key="ret" class="btn two-rows return"><small>{{return}}</small></button>
    </div>

    {{#if keys}}
      <div class="keys extra-keys {{numpad}}">
        {{#each keys}}
          <button data-key="{{this}}" class="btn">{{this}}</button>
        {{/each}}
      </div>
    {{/if}}

  </div>
</div>