{{#each buttons}}

  {{#if this.button}}
    <button class="btn {{this.className}}"
            {{#if this.action}}data-action="{{this.action}}"{{/if}}
      {{#if this.toggle}}data-toggle="{{this.toggle}}"{{/if}}
      {{#if this.loading}}data-loading="{{this.loadingText}}"{{/if}}
      {{#if this.icon}}data-icon="{{this.icon}}"{{/if}}
      {{#if this.disabled}}disabled{{/if}}
      >
      {{this.label}}
    </button>
  {{/if}}

  {{#if this.link}}
    <a href="#" class="btn {{this.className}}"
       {{#if this.action}}data-action="{{this.action}}"{{/if}}
      {{#if this.toggle}}data-toggle="{{this.toggle}}"{{/if}}
      {{#if this.loading}}data-loading="{{this.loadingText}}"{{/if}}
      {{#if this.icon}}data-icon="{{this.icon}}"{{/if}}
      >
      {{this.label}}
    </a>
  {{/if}}

  {{#if this.input}}
    <input type="button" class="btn {{this.className}}" value="{{this.label}}"
           {{#if this.action}}data-action="{{this.action}}"{{/if}}
      {{#if this.toggle}}data-toggle="{{this.toggle}}"{{/if}}
      {{#if this.loading}}data-loading="{{this.loadingText}}"{{/if}}
      >
  {{/if}}

  {{#if this.message}}
    <p class="message {{this.className}}"></p>
  {{/if}}

{{/each}}