<div class="{{namespace 'modal-dialog'}} modal-dialog">
  <div class="{{namespace 'modal-content'}} modal-content">
    <div class="{{namespace 'modal-header'}} modal-header"></div>
    <div class="{{namespace 'modal-body'}} modal-body"></div>
    <div class="{{namespace 'modal-footer'}} modal-footer"></div>
  </div>
</div>