{{#variations}}
  <strong>{{name}}</strong>
  {{#unless this.select}}
    <div class="btn-group" data-toggle="buttons">
    {{#each options}}
      <button class="btn btn-default" value="{{this}}" data-variation="{{../slug}}">{{this}}</button>
    {{/each}}
    </div>
  {{/unless}}
  {{#if this.select}}
    <select data-variation="{{slug}}">
        <option value="">{{this.emptyOption}}</option>
    {{#each options}}
        <option value="{{this}}">{{this}}</option>
    {{/each}}
    </select>
  {{/if}}
{{/variations}}
<button class="btn btn-success" data-action="add" disabled>Add to Cart</button>