{{#variations}}
  <strong>{{name}}</strong>
  {{#unless this.select}}
    <div class="btn-group" data-toggle="buttons">
    {{#each labels}}
      <button class="btn btn-default" value="{{slug}}" data-name="{{../name}}">{{name}}</button>
    {{/each}}
    </div>
  {{/unless}}
  {{#if this.select}}
    <select data-name="{{name}}">
        <option value="">{{this.emptyOption}}</option>
    {{#each labels}}
        <option value="{{slug}}">{{name}}</option>
    {{/each}}
    </select>
  {{/if}}
{{/variations}}
<button class="btn btn-success" data-action="add" disabled>Add to Cart</button>