<div class="popover-body">
{{#variations}}
  <strong>{{name}}</strong>
  {{#unless this.select}}
    <div class="btn-group" data-toggle="buttons">
    {{#each options}}
      <button class="btn btn-default" value="{{this}}" data-name="{{../name}}">{{this}}</button>
    {{/each}}
    </div>
  {{/unless}}
  {{#if this.select}}
    <select data-name="{{name}}">
      <option value="">{{this.emptyOption}}</option>
    {{#each options}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
    </select>
  {{/if}}
{{/variations}}
</div>
<div class="popover-footer">
  <button class="btn btn-success" data-action="add" disabled>Add to Cart</button>
</div>
