{{#each tests}}
  <li>
    <div class="shrink">
      {{#if pass}}
        <i class="icon-success icon-lg"></i>
      {{else}}
        <i class="icon-error icon-lg"></i>
      {{/if}}
    </div>
    <div class="title">{{title}}</div>
    <div class="message">
      {{{message}}}
      {{#each buttons}}
        <a href="{{#if href}}{{href}}{{else}}#{{/if}}" {{#if action}}data-action="{{action}}"{{/if}} class="btn btn-default">{{prompt}}</a>
      {{/each}}
    </div>
  </li>
{{/each}}

<li class="sub-heading"><div>{{sub-heading}}</div></li>

{{#each storage}}
<li>
  {{#if icon}}
  <div class="shrink">
    <i class="icon-{{icon}} icon-lg"></i>
  </div>
  {{/if}}
  {{#if title}}
  <div class="title">{{title}}</div>
  {{/if}}
  <div class="message">
    {{{message}}}
    {{#if button}}
      <button class="btn btn-default" data-action="{{button.action}}">{{button.label}}</button>
    {{/if}}
  </div>
</li>
{{/each}}