{{#each storage}}
<li class="list-row">
  {{#if icon}}
  <div class="shrink">
    <i class="icon-{{icon}} icon-lg"></i>
  </div>
  {{/if}}
  {{#if title}}
  <div class="title">{{title}}</div>
  {{/if}}
  <div class="message">
    {{{message}}}
    {{#if button}}
      <button class="btn btn-default" data-action="{{button.action}}">{{button.label}}</button>
    {{/if}}
  </div>
</li>
{{/each}}