<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="{{min}}" aria-valuemax="{{max}}" style="width: {{percentage}}%">
	{{#if showPercentage}}<span class="sr-only">{{percentage}}%</span>{{/if}}
	{{#if showFraction}}<span class="sr-only">{{progress}} / {{max}}%</span>{{/if}}
</div>