<h4 class="{{namespace 'modal-title'}}">
  {{{title}}}
</h4>
<a class="{{namespace 'btn'}}"  title="" data-action="fullscreen">
  <i class="">fullscreen</i>
</a>
{{#if close}}
<a class="{{namespace 'btn'}}"  title="{{close}}" data-action="close">
  <i class="{{namespace 'icon-times'}}"></i>
</a>
{{/if}}